.loginRequiredCard {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    width: 100%;
    position: relative;
}
.top_line{
    background-color: #2C3E50;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}

/* الكارد */
.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    max-width: 540px;
    text-align: center;
}

/* الأيقونة */
.img_wrapper {
    background-color: #d1f5f0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 16px;
}

.img_wrapper img {
    width: 180px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.btn_login {
    display: block;
    width: 100%;
    background-color: #25b09b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 12px;
    transition: all 0.3s ease;
    text-align: center;
}

.btn_login:hover {
    background-color: #1f8e7e;
}

.btn_register {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: #25b09b;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn_register:hover {
    background-color: white;
}