.blog_container {
    padding-top: 70px;
    text-align: start;
}

.hero {
    position: relative;
    height: 50vh;
    background: url("/images/filter1.webp") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 550px;
    color: white;
    z-index: 2;
}

.tags {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    padding: 1px;
}

.tag {
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}

.tag::before{
    content: "";
    position: absolute;
    right: 0px;
    top: 6px;
    bottom: 6px;
    width: 4px;
    background-color: var(--main-color);
}

.blog_container h1 {
    font-size: 32px;
    line-height: 1.6;
    font-weight: 700;
    color: white ;
}