.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  text-align: right;
}
.form-group label {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--main-color);
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.for-button {
  width: 100%;
  padding: 10px 12px;
}
