.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  direction: rtl;
}

.login-image,
.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

.login-container {
  max-width: 450px;
  padding: 40px 30px;
  border-radius: 12px;
  flex-direction: column;
}

.login-container h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #222;
  font-weight: bold;
}

.login-container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}
.login_footer {
  margin-top: 30px;
}

.login_footer a{
  margin-top: 20px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

/* ---------------- login_form -------------- */
/* ---------------- login_form -------------- */
.login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.email_input,
.password_input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0px;
  margin-top: 15px;
}

.login_form .email_input label, .login_form .password_input label {
  margin: 0px;
  position: relative;
}

.login_form .email_input label .error_message, .login_form .password_input label .error_message {
  color: red;
  font-size: 12px;
  position: absolute;
  left: 0px;
  top: -50%;
  transform: translateY(50%);
}

.email_input .input_container, .password_input_container {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.email_input .input_container input,
.password_input .password_input_container input {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  padding-inline-start: 35px;
  outline: none;
}

.password_input .password_input_container input,
.confirmPassword_input .password_input_container input {
  padding-inline-start: 35px;
}

.name_input .input_container input::placeholder,
.email_input .input_container input::placeholder,
.phone_input .input_container input::placeholder,
.password_input .password_input_container input::placeholder,
.confirmPassword_input .password_input_container input::placeholder {
  color: #727272;
  font-size: var(--font-size-sm);
}

.name_input .input_container input:focus,
.email_input .input_container input:focus,
.phone_input .input_container input:focus,
.password_input .password_input_container input:focus,
.confirmPassword_input .password_input_container input:focus {
  border: 2px solid var(--main-color);
}

.name_input .input_container img,
.email_input .input_container img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.password_input .password_input_container .eye_icon {
  color: #2C3E50;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login_form .error_general {
  width: 100%;
  color: red;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.login_button {
  margin-top: 5px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: var(--main-color);
  color: var(--color);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--hover-color);
}

.forgetPassword {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.forgetPassword a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

.forgetPassword a:hover {
  text-decoration: underline;
}

.rememberMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: fit-content;
}

.rememberMe_section .rememberMe_label .rememberMe_checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: 5px;
}

.rememberMe_section .rememberMe_label .rememberMe_checkbox:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.rememberMe_checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rememberMe p{
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: auto;
}

/* موبايل */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
    padding: 20px;
  }

  .login-container {
    max-width: 100%;
    width: 100%;
  }

  .login-image {
    display: none;
  }

  .login-image img {
    max-width: 60%;
  }
}