.verify-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f7f8fa;
  border: 1px solid #ddd;
  padding: 12px 15px;
  border-radius: 10px;
  margin: 15px 0 25px;
}
.verify-icon {
  font-size: 22px;
  color: var(--main-color);
}
.verify-box p {
  margin: 0;
  font-size: 14px;
  color: #444;
}
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}
.otp-inputs input {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  background: #fdfdfd;
  transition: 0.3s;
}
.otp-inputs input:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .verify-box p {
    font-size: 10px;
  }
  .otp-inputs input {
    width: 40px;
    height: 45px;
    font-size: 15px;
  }
}
