@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Outfit:wght@100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: var(--font-main);
}
/* Body */
body {
  font-family: var(--font-main);
  font-size: var(--font-size-md);
  background-color: var(--landing-color);
  color: var(--title-color);
  line-height: 1.6;
}
/* Links */
a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover {
  color: var(--hover-color);
}
/* Lists */
li {
  list-style: none;
}
/* Images */
img {
  max-width: 100%;
  display: block;
}
/* Buttons */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-sm);
  background: var(--main-color);
  color: var(--color);
  font-size: var(--font-size-md);
  transition: 0.3s;
}
button:hover {
  background: var(--hover-color);
}
/* Layout container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}