.input_container label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
}

.dropdown_input_wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 10px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.2s;
}


.dropdown_input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
}

.dropdown_input_wrapper svg {
    margin-left: 8px;
    pointer-events: none;
}

.input_option {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 0;
    margin: 0;
    list-style: none;
}

.input_option li {
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.input_option li.active {
    background-color: #007bff;
    color: white;
}

/* عند المرور على العنصر */
.input_option li:hover {
    background-color: #f0f0f0;
}

.input_option::-webkit-scrollbar {
    width: 6px;
}

.input_option::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}