.showAnyUserData {
    background-color: #ececec;
    min-height: 80dvh;
}
.showAnyUserData .showAnyUserData_container {
    max-width: 1190px;
    padding: 80px 20px;
    margin: auto;
}

.showAnyUserData .showAnyUserData_container .user_data {
    background-color: var(--color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.showAnyUserData .user_data .user_images .cover_user_image {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 280px;
    max-height: 300px;
    position: relative;
}

.showAnyUserData .user_data .user_images .cover_user_image img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.showAnyUserData .user_data .user_images .profile_user_image {
    width: 140px;
    height: 30px;
    margin: auto;
    text-align: center;
    position: relative;
}

.status_dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: -10px;
}

.showAnyUserData .user_data .user_images .profile_user_image .user_img_container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    width: 140px;
    height: 140px;
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.showAnyUserData .user_data .user_images .profile_user_image .user_img_container img {
    object-fit: cover;
}

.showAnyUserData .user_data .user_info {
    text-align: center;
}


/* ===== Cards ===== */
.categories_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.categories_items .category_card {
    background: #fff;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.categories_items .category_card:hover {
    transform: translateY(-4px);
}

.categories_items .category_card .card_image {
    width: 100%;
    height: 180px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.categories_items .category_card .card_image img {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0px;
}

.categories_items .category_card .card_user {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.categories_items .category_card .card_user img,
.categories_items .category_card .avatar_placeholder {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.avatar_placeholder {
    background-color: #e0e0e0;
    color: #555;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories_items .category_card .card_body {
    padding: 0px 15px;
}

.card_body h3 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0px;
    margin-bottom: 5px;
}

.card_meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
}

.card_meta .ciLocationOn, .ciStopwatch {
    display: flex;
    align-items: center;
    gap: 4px;
}

.details_link {
    display: block;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: var(--radius-sm);
    text-decoration: none;
    font-weight: 500;
}

.details_link:hover {
    color: white;
}
.card_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--main-color);
    padding: 10px 15px;
}
.card_footer .card_footer_price {
    font-size: 16px;
    font-weight: 600;
}
.card_footer .hart_icon {
    cursor: pointer;
}

/* ====== Responsive ====== */

@media (max-width: 1024px) {
    .bottom_section_categoryData {
        padding: 20px 20px 100px;
    }

    .categories_items {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .categories_items {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .card_image {
        height: 120px;
    }

    .categories_items .category_card .card_user {
        padding: 5px 8px;
    }
    .categories_items .category_card .card_user img,
    .categories_items .category_card .avatar_placeholder {
        width: 30px;
        height: 30px;
    }

    .categories_items .category_card .card_body {
        padding: 0px 10px;
    }

    .card_user span,
    .card_meta span {
        font-size: 11px;
        font-weight: 500;
    }

    .details_link {
        padding: 5px 10px;
        font-size: 12px;
    }

    .card_body h3 {
        font-size: 14px;
    }

    .card_footer {
        padding: 10px;
    }
    .card_footer .card_footer_price {
        font-size: 13px;
        font-weight: 600;
    }
}

@media (max-width: 540px) {
    .categories_items .category_card:hover {
        transform: translateY(0px);
    }

    .categories_items .category_card .card_image {
        height: 120px;
    }

    .card_user {
        padding: 5px;
        gap: 0px;
        font-weight: 800;
    }

    .card_meta .ciLocationOn, .card_meta .ciStopwatch {
        gap: 2px;
        font-size: 10px;
        font-weight: 600;
    }

    .categories_items .category_card .card_user img,
    .categories_items .category_card .avatar_placeholder {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    
    .card_footer {
        padding: 0px 10px;
        margin-top: 2px;
    }
}