.Advertisements {
    padding: 30px 10px;
    position: relative;
}

.buttons {
    max-width: 875px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn.next {
    background: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn.next .arrowNext, .btn.prev .arrowPrev {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.btn.prev {
    background: #e0f2f1;
    color: #4cafac;
    display: flex;
    align-items: center;
    gap: 5px;
}

.link_prev {
    background: #e0f2f1;
    color: #4cafac;
    padding: 0 20px;
    transition: all ease-in-out .5s;
    border-radius: var(--radius-sm);
    align-content: center;
}

.link_prev:hover {
    background-color: var(--main-color);
    color: white;
}

.btn:hover {
    opacity: 1;
}

.input_container, .textarea_container, .inputPrice_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    margin-top: 15px;
    position: relative;
}

.input_container label, .textarea_container label, .inputPrice_container label {
    font-size: var(--font-size-md);
    font-weight: 400;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputPrice_container>span {
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: var(--font-size-sm);
    color: #727272;
}

.input_container .input {
    border-radius: 5px;
    border: 2px solid var(--border-color);
    padding: 15px 10px;
    outline: none;
}

.input::placeholder, textarea::placeholder {
    color: #727272;
    font-size: var(--font-size-sm);
}

.input:focus {
    border: 2px solid var(--main-color);
}

/* ------------------------Modal----------------------- */
.modal_fade {
    background-color: var(--shadow-color);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0px;
    z-index: 100;
}

.modal-dialog {
    background-color: var(--color);
    color: var(--header-color);
    border: 1px solid #DBDBDB;
    border-radius: 12px;
    max-width: 480px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    animation: scaleIn 0.3s ease;
}

.modal-content, .modal-header, .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.modal-header .img_avatar {
    background-color: #AAFFEE80;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.modal-header .img_avatar img {
    width: 50px;
    height: 50px;
}

.modal-header .modal-title {
    font-size: var(--font-size-lg);
}

.modal-header p {
    font-size: var(--font-size-sm);
}

.btn-secondary {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: var(--font-size-sm);
    width: 170px;
    margin-top: 20px;
}

.btn-secondary img {
    width: 22px;
    height: 22px;
    margin-top: 3px;
}

.special-adver {
    background-color: #FFF1BB;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px 25px;
}

.special-adver h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: var(--font-size-md);
}

.special-adver p {
    font-size: var(--font-size-sm);
}

.btn-primary {
    background-color: #F1C40F;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: auto;
    margin-top: 10px;
    width: 170px;
}

.btn-primary:hover {
    background-color: #F1C40F;
}

.modal-footer {
    color: #A4A4A4;
    font-size: var(--font-size-sm);
    margin-top: 15px;
}

.toastLocationWarning {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* للأجهزة الصغيرة (mobile) */
@media (max-width: 540px) {
    .modal-dialog {
        max-width: 95%;
    }
}

/* للأجهزة المتوسطة (tablet) */
@media (min-width: 768px) and (max-width: 1024px) {
    .Advertisements {
        padding: 20px;
    }
}