.Header_dashboard {
  background-color: #efefef;
  padding: 20px 30px;
  border-bottom: 2px solid var(--border-color);
}
.Header_dashboard .Header_dashboard_title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #2c3e50;
}
.Header_dashboard .Header_dashboard_title span {
  color: var(--main-color);
}
.Header_dashboard .Header_dashboard_desc {
  font-size: 14px;
  margin: 5px 0 0;
  color: #666;
}
