.header {
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1000;
  width: 100%;
  direction: rtl;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px var(--shadow-color);
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 15px;
}
.logo img {
  height: 45px;
  object-fit: contain;
}
.nav {
  display: flex;
  gap: 25px;
}
.nav li {
  list-style: none;
}
.nav a {
  color: var(--color);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}
.nav a:hover::after,
.nav a.active::after {
  width: 100%;
}
.header-button {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}
.btn-delete,
.btn-add,
.btn_profile {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: 0.3s;
  white-space: nowrap;
  text-decoration: none;
}
.btn-delete,
.btn_profile {
  background-color: transparent;
  border: 2px solid var(--color);
  color: var(--color);
}
.btn_profile {
  width: 100px;
  position: relative;
}
.btn-delete:hover,
.btn_profile:hover {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--color);
}
.btn-add {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--color);
}
.btn-add:hover {
  background-color: transparent;
  border: 2px solid var(--color);
  color: var(--color);
}
.menu-mobile-toggle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: var(--color);
}
.mobile-login {
  display: none;
  position: relative;
}
.mobile-search {
  display: none;
}
.header .header-container .mobile-login .two_char {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}
.header .header-container .mobile-login .header_profile_img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color);
  font-size: 25px;
  cursor: pointer;
}
.mobile-search .search_icon {
  font-size: 20px;
  cursor: pointer;
  margin-left: -5px;
}
.mobile-search input {
  width: 350px;
  color: var(--color);
  background-color: transparent;
  outline: none;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--main-color);
  font-size: 14px;
}
.mobile-search input::placeholder {
  font-size: 13px;
  color: var(--color);
  opacity: 0.8;
}
.header_profile_img .user_img {
  width: 30px;
  height: 30px;
}
.header .header-container .mobile-login .profile-card {
  position: absolute;
  top: 100%;
  left: 0px;
  transform: translate(-40px, 20px);
}
.mobile-login .mobile_loginBTN {
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  align-content: center;
}

@media (max-width: 992px) {
  .nav {
    gap: 15px;
  }
  .nav a {
    font-size: 15px;
  }
  .btn-delete,
  .btn-add {
    padding: 6px 12px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .header-button {
    display: none;
  }
  .nav {
    position: fixed;
    top: 70px;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--header-color);
    flex-direction: column;
    gap: 20px;
    padding: 0;
    box-shadow: -2px 0 8px var(--shadow-color);
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    z-index: 999;
    overflow: hidden;
  }
  .nav.open {
    width: 220px;
    padding: 20px;
  }
  .nav li {
    flex-direction: column;
  }
  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-search,
  .mobile-login {
    display: flex;
    gap: 10px;
  }
  .mobile-search {
    align-items: center;
    gap: 10px;
    color: var(--color);
  }
}
@media (max-width: 620px) {
  .mobile-search {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color);
  }
  .mobile-search input {
    max-width: 130px;
  }
}
@media (max-width: 540px) {
  .logo img {
    width: 50px;
  }
  .mobile-search input {
    max-width: 130px;
  }
  .menu-mobile-toggle {
    gap: 10px;
  }
}
.profile-card {
  background-color: var(--color);
  width: 250px;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50px;
  transform: translateY(13px);
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  padding-top: 20px;
}
.user-info div {
  text-align: start;
}
.user_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.greeting {
  margin: 0;
  font-size: 14px;
  color: #555;
}
.username {
  margin: 0;
  font-weight: bold;
}
.show_accountUser {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 2px solid #4cafae;
  border-radius: 5px;
  background-color: transparent;
  color: #4cafae;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}
.show_accountUser:hover {
  color: var(--color);
  background-color: var(--main-color);
}
.settings {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding: 15px 0px;
}
.logout-btn {
  background: none;
  border: none;
  color: #4cafae;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.logout-btn svg {
  width: 18px;
  height: 18px;
  margin-top: 2px;
}
.logout-btn:hover {
  color: var(--color);
}

.toast_warning {
  width: 100%;
  max-width: 350px;
  padding: 0px 10px;
  position: fixed;
  top: 65px;
  left: 50%;
  z-index: 9999999999;
  transform: translate(-50%, 10px);
}

.toast_container {
  background-color: #fff;
  color: #6b7280;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in, fadeOut 0.5s ease-out 2.5s forwards;
  position: relative;
  z-index: 999999999999;
}

.toast-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background-color: #fff7ed; 
  color: #f97316;
  border-radius: 0.5rem;
}

.toast-svg {
  width: 1.25rem;
  height: 1.25rem;
}

.toast-message {
  margin-left: 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.toast-close-btn {
  background-color: #fff;
  color: #9ca3af;
  border-radius: 0.5rem;
  padding: 0.375rem;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.toast-close-btn:hover {
  background-color: #f3f4f6;
  color: #111827;
}

.toast-close-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.progress-line{
  background-color: #f97316;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  top: 90%;
  left: 24px;
  right: 18px;
  animation: fadeLeft ease-out 3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50px);
  }
  to {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes fadeLeft {
  from {
    left: 24px;
  }
  to {
    left: 100%;
  }
}