.datepicker-container {
    position: relative;
    width: 300px;
    font-family: "Tajawal", sans-serif;
}

/* Input */
.input-wrapper {
    position: relative;
    position: relative;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.input-wrapper input:focus {
    outline: none;
    border-color: var(--border-color);
}

/* Icon */
.calendar-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    z-index: 99999;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
}
.calendar-icon svg {
    position: absolute;
    left: 0px;
}

.calendar-icon .reset-btn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 4px;
    color: red;
}

/* Popup */
.calendar-popup {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 12px;
    z-index: 100;
    animation: fadeIn 0.15s ease;
}

/* Header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 600;
}

.calendar-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    transition: background-color 0.2s;
    color: var(--title-color);
}

/* Weekdays */
.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #6b7280;
    margin-bottom: 4px;
}

/* Days */
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 2px;
}

.calendar-days button {
    background: none;
    border: none;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.2s;
    color: var(--title-color);
}

.calendar-days button:hover {
    background-color: var(--landing-color);
}

.calendar-days button.selected {
    background-color: var(--main-color);
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}