.form_header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: var(--header-color);
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 2px solid var(--border-color);
}

.category-content {
    display: flex;
    align-items: end;
    gap: 20px;
}

.category-content .category-info h1 {
    font-size: var(--font-size-md);
    text-align: start;
}

.category-content .category-info p {
    font-size: var(--font-size-md);
    text-align: start;
}

.img_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img_avatar {
    background-color: #ECF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.btn_category {
    background-color: transparent;
    color: var(--main-color);
    height: fit-content;
    margin-bottom: 10px;
}

.btn_category:hover {
    background-color: transparent;
    color: var(--main-color);
}