.footer {
  background-color: var(--header-color);
  color: var(--color);
  padding: 50px 20px 20px;
  direction: rtl;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.footer-col h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--color);
}
.footer-logo-img {
  max-width: 140px;
  margin-bottom: 15px;
}
.footer-desc {
  font-size: 14px;
  line-height: 1.6;
  color: var(--color);
}
.footer-col ul li {
  margin-bottom: 10px;
}
.footer-col ul li a {
  color: var(--color);
  transition: color 0.3s ease;
}
.footer-col ul li a:hover {
  color: var(--main-color);
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--main-color);
  font-size: 18px;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  background: var(--main-color);
  color: var(--color);
}
.footer-divider {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-color: var(--color);
}
.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: var(--color);
}

/* nav-footer يظهر فقط في الموبايل */
.nav-footer {
  display: none; 
}
@media (max-width: 768px) {
  .footer {
    padding: 5px;
  }
  .footer .nav-footer {
    border: none;
  }
  .footer-container,
  .footer-bottom {
    display: none;
  }
  .nav-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--header-color);
    border-top: 1px solid var(--color);
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
  }
  .nav-footer a .active-icon {
    font-size: 35px;
    color: var(--main-color);
    transition: 0.3s;
  }
  .nav-footer a .active-icon:hover {
    color: var(--color);
  }
  .nav-footer a {
    color: var(--color);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .nav-footer a span {
    font-size: 10px;
  }
  .nav-footer a:hover {
    color: var(--main-color);
  }
}
