.realestate_form{
    margin-top: 20px;
}

.realestateType{
    padding-bottom: 0px;
    text-align: start;
    position: relative;
}

.realestateType .input_container{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.realestateType .info_error {
    position: absolute;
    top: 0;
}

.chevron_up{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--parg-color);
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 0px;
    transition: all ease-in-out .3s;
}
.chevron_up.open{
    transform: rotate(180deg);
}