.car-card {
  padding: 40px 0px;
  background: var(--light-bg);
  font-family: var(--main-font);
  direction: rtl;
}
.loadMoreBtn {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.loading-text{
  margin-top: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.loadMoreBtn:hover {
  opacity: 0.85;
}
.loadMoreContainer{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:20px;
}
/* .paginationBtns{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  margin-top:20px;
} */
.car_card_container {
  max-width: 1195px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
  color: var(--gray-color);
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.6;
}

/* ===== Cards ===== */
.categories_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.categories_items .category_card {
  background: #fff;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.categories_items .category_card:hover {
  transform: translateY(-4px);
}

.categories_items .category_card .card_image {
  width: 100%;
  height: 180px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.categories_items .category_card .card_image img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0px;
}

.categories_items .category_card .card_user {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.categories_items .category_card .card_user img,
.categories_items .category_card .avatar_placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.avatar_placeholder {
  background-color: #e0e0e0;
  color: #555;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories_items .category_card .card_body {
  padding: 0px 15px;
}

.card_body h2 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0px;
  margin-bottom: 5px;
}

.card_meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}

.card_meta .ciLocationOn, .ciStopwatch {
  display: flex;
  align-items: center;
  gap: 4px;
}

.details_link {
  display: block;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: var(--radius-sm);
  text-decoration: none;
  font-weight: 500;
}

.details_link:hover {
  color: white;
}

.card_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--main-color);
  padding: 10px 15px;
}

.card_footer .card_footer_price {
  font-size: 16px;
  font-weight: bold;
}

.card_footer .hart_icon {
  cursor: pointer;
}

.hart_icon.loading-heart .heart-svg path {
  animation: fillUp 0.8s ease forwards;
}

@keyframes fillUp {
  0% {
    fill: none;
  }
  50% {
    fill: url(#grad-1);
  }
  100% {
    fill: red;
  }
}

.hart_icon.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/* ====== Responsive ====== */

@media (max-width: 1024px) {
  .bottom_section_categoryData {
    padding: 20px 20px 100px;
  }

  .categories_items {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media (max-width: 768px) {

  .section-title,
  .section-subtitle {
    display: none;
  }

  .categories_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .card_image {
    height: 120px;
  }

  .categories_items .category_card .card_user {
    padding: 5px 8px;
  }

  .categories_items .category_card .card_user img,
  .categories_items .category_card .avatar_placeholder {
    width: 30px;
    height: 30px;
  }

  .categories_items .category_card .card_body {
    padding: 0px 10px;
  }

  .card_user span,
  .card_meta span {
    font-size: 11px;
    font-weight: 500;
  }

  .details_link {
    padding: 5px 10px;
    font-size: 12px;
  }

  .card_body h2 {
    font-size: 12px;
  }

  .card_footer {
    padding: 10px;
  }

  .card_footer .card_footer_price {
    font-size: 12px;
    font-weight: bold;
  }
}

@media (max-width: 540px) {
  .categories_items .category_card:hover {
    transform: translateY(0px);
  }

  .categories_items .category_card .card_image {
    height: 120px;
  }

  .card_user {
    padding: 5px;
    gap: 0px;
    font-weight: 800;
  }

  .card_meta .ciLocationOn, .card_meta .ciStopwatch {
    gap: 2px;
    font-size: 10px;
    font-weight: 600;
  }

  .categories_items .category_card .card_user img,
  .categories_items .category_card .avatar_placeholder {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .card_footer {
    padding: 0px 10px;
  }

  .card_footer .card_footer_price {
    font-size: 12px;
    font-weight: bold;
  }
}